

body{
  margin:0px;
  padding: 0px;
overflow-x: hidden;

}

ul{
  list-style: none;

}
a{
  text-decoration: none;
}
section{
  width:100%;
  height:100vh;
  background-image: url("Images/bg.png");
background-repeat: no-repeat;
background-size: cover;
position:relative;
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
     box-shadow: 0 8px 6px -6px black;
     margin-bottom: 30px;
}
#color-section{
  background: #000000;
  background-image: -webkit-linear-gradient(left, #000000, #2d3436);
  background-image: -moz-linear-gradient(left, #000000, #2d3436);
  background-image: -ms-linear-gradient(left, #000000, #2d3436);
  background-image: -o-linear-gradient(left, #000000, #2d3436);
  background-image: linear-gradient(to right, #000000, #2d3436);

}

#color-section2{
  background: #000000;
  background-image: -webkit-linear-gradient(left, #000000, #2d3436);
  background-image: -moz-linear-gradient(left, #000000, #2d3436);
  background-image: -ms-linear-gradient(left, #000000, #2d3436);
  background-image: -o-linear-gradient(left, #000000, #2d3436);
  background-image: linear-gradient(to right, #000000, #2d3436);
height: 900px;
}

#color-section3{
  background: #000000;
  background-image: -webkit-linear-gradient(right, #000000, #2d3436);
  background-image: -moz-linear-gradient(right, #000000, #2d3436);
  background-image: -ms-linear-gradient(right, #000000, #2d3436);
  background-image: -o-linear-gradient(right, #000000, #2d3436);
  background-image: linear-gradient(to left, #000000, #2d3436);
  -webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
     box-shadow: 0 8px 6px -6px black;
height: 900px;
}




.about-section{
  width:100%;
  height:50vh;
  background-color: white;
background-repeat: no-repeat;
background-size: cover;
position:relative;
}

nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:80px;
  background: #000000;
  background-image: -webkit-linear-gradient(left, #000000, #2d3436);
  background-image: -moz-linear-gradient(left, #000000, #2d3436);
  background-image: -ms-linear-gradient(left, #000000, #2d3436);
  background-image: -o-linear-gradient(left, #000000, #2d3436);
  background-image: linear-gradient(to right, #000000, #2d3436);
  padding:0px;


}
nav ul{
display:flex;
margin-right: 90px;

}
nav ul li a{
padding: 30px;
  font-family: "Montserrat";
  color:white;
	font-size: 16px;
letter-spacing: 2px;
text-decoration: none;

}


.skill-row{
  width:50%;
  margin: 70px auto 100px auto;

}
.mb-3{
  padding-bottom:10px !important;
  letter-spacing:5px;
}

.skill-image-left{
  width: 40%;
  float: left;
  border-radius: 5px;
margin-right: 50px;
-webkit-box-shadow: 4px 4px 7px #292629;
-moz-box-shadow: 4px 4px 7px #292629;
box-shadow: 4px 4px 7px #292629;
margin-top:50px ;
}

.skill-image-right{
  width: 40%;
  float: right;
  border-radius: 5px;
margin-left: 50px;
-webkit-box-shadow: 4px 4px 7px #292629;
-moz-box-shadow: 4px 4px 7px #292629;
box-shadow: 4px 4px 7px #292629;
margin-top:50px ;
}

.portfolio-p{
  font-family: "Montserrat";
text-align: left;
line-height: 2;
}
h2{
  font-size: 3rem !important;
  margin-top: 30px;
    color: #000000;
    font-weight: normal;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold ;
text-transform: uppercase;
letter-spacing: 5px;
}
h2:hover{

  transition: 0.5s ease-in-out;
}
h3{
  color:#000000;
  text-align: left;
padding-top:50px;
font-family: "Montserrat"
}
span{
  visibility: hidden;
}

#greet{
  font-family:"Montserrat";
  font-size: 20px;
  color: white;
}

.code{
visibility: hidden;
}

.logo{
font-family: 'Smooch', cursive;
	color:#000000;
	font-size: 35px;
  margin-left: 10px;
  text-decoration: none;
}
.logo img:hover{
  border-radius: 50%;
  box-shadow:

    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    transition: 0.5s ease-in-out;
}

.anjhen{
  margin-top: 30px;
  margin-left: 20px;
  height: 75px;
  width:75px;

}
.footer-top{
  top: 110px;
}
.text-container h1{
  font-family: "Montserrat";

  color:white;
}


.text-container p:nth-child(1){
  font-family: "Montserrat";

  color:white;
}
.text-container p:nth-child(2){
  font-family:"Montserrat";
font-weight: normal;
  letter-spacing: 1px;
  color:white;
  font-size:55px;
cursor: context-menu;

}
#myname:hover{
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  letter-spacing: 2px;
  transition: ease-in-out 0.5s;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #042535, 0 0 40px #0400e6, 0 0 50px #899fce, 0 0 60px #00c4e6, 0 0 70px #003de6;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4d85ff, 0 0 40px #0a0b4d, 0 0 50px #1e192b, 0 0 60px #cac9ca, 0 0 70px #06062e, 0 0 80px #02031b;
  }
}

.text-container p:nth-child(3){
  font-family: "Montserrat";
  color:white;
  font-size: 30px;
  margin-bottom: 50px;
}
.text-container p{
  line-height: 0px;
  margin:45px 0px 25px;
}
.text-container{
  position:absolute;
  left:7%;
  top:42%;
  transform:translate(-13%, -42);
}
.text-container button{
  width:130px;
  height:42px;
  border-radius:10px;
  font-family:calibri;
  font-weight:bold;
  font-size: 14px;
  outline:none;
  margin: 0px 10px;
}
.hire-btn{
    border:2px solid #373636;
    color:#373636;
}

.down-cv {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 20px;
  font-family: Arial;
  color: white;
  font-size: 18px;
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #2d3436);
  background-image: -moz-linear-gradient(top, #000000, #2d3436);
  background-image: -ms-linear-gradient(top, #000000, #2d3436);
  background-image: -o-linear-gradient(top, #000000, #2d3436);
  background-image: linear-gradient(to bottom, #000000, #2d3436);
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  text-decoration: none;
font-family: "Montserrat";
}

.down-cv:hover {
background: white;
   -webkit-box-shadow: 6px 1px 12px #666666;
   -moz-box-shadow: 6px 1px 12px #666666;
   box-shadow: 6px 1px 12px #666666;
  text-decoration: none;
  transition: ease-in-out 0.5s;
  color:black;
  letter-spacing: 2px;
}


hr{
  border: dotted grey 6px;
width:4%;
margin: 50px auto;
border-bottom: none;
}
.form-group{
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
}
button.active{
  transform:scale(1.1);
}

.model{
  height:550px;
  position:absolute;
  bottom:100px;
  left:60%;
  transform:translateX(-70%);
  transform: rotate(18deg);
}

.model:hover{
  animation: rotation 8s infinite linear;
}

@keyframes rotation{
  from{
    transform: rotate(18deg);
  }
  to{
    transform: rotate(359deg);
  }
}


.about-container{
  width:75%;
top: 20px;
  height:500px;
margin: auto;
background: #000000;
background-image: -webkit-linear-gradient(left, #000000, #2d3436);
background-image: -moz-linear-gradient(left, #000000, #2d3436);
background-image: -ms-linear-gradient(left, #000000, #2d3436);
background-image: -o-linear-gradient(left, #000000, #2d3436);
background-image: linear-gradient(to right, #000000, #2d3436);
  border-radius:15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
margin-bottom: 100px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
border-style: solid;
border-width: 1px; 
border-color: rgb(241, 241, 241);

}



.about-container img{
  height: 497px;
}
.about-text{
  width:550px;
text-align: justify;
}
.about-text p:nth-child(1){
  color:white;
  font-family: "Montserrat";
margin-top: 10px;
font-size:23px;
line-height: 0px;

}

.about-text p:nth-child(2){
  color:white;
  font-family: "Montserrat";
margin-bottom: 30px;
font-size:13px;
line-height: 5px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4),
.about-text p:nth-child(5){
  color:white;
  font-family: "Montserrat";
line-height: 1.5;
font-size:16px;

}

.about-text p:nth-child(5){
  margin-bottom: 30px;
}
#spacing{
  letter-spacing: 50px;
  text-align: center;
justify-content: center;
align-items: center;
  margin-bottom: 50px;
  margin: auto;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 20px;

}

.contact-me{
  margin-top: 200px;
  width:100%;
  height:200px;
  background-image:url("Images/pic5.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;


  
}
.contact-me a{
  color: black;
  text-decoration: none;
}
.contact-me p{
  color: white;
  font-size: 30px;
  font-family: "Montserrat";

  border-bottom: 2px solid white;
  text-decoration: none;
}
.contact-me button{
  width:200px;
  height:40px;
  background-color: white;
  outline: none;
  border:none;
  font-size: 14px;

border-radius: 5px;
font-family: "Montserrat";

}
.contact-me button:hover{
  background-color: grey;
  transition: all ease 0.5s;
  border-radius: 10px;
}
.contact-me a:hover{
  color: white;
  transition: ease-in-out  0.5s;
  letter-spacing: 2px;
}

footer{
  height:200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  background-color: white;
}
footer p{
  font-family: "Montserrat";
}
footer p:nth-child(1){
  visibility: hidden;
  font-size: 30px;
  font-weight: bold;
  color: black;
  line-height: 10px;

}
footer p:nth-child(2){
  font-size: 16px;
  color:#7e7d7d;
  width:600px;
  text-align: center;
}
.social-icons a{
  width: 40px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin:20px 15px 40px;
  border-radius: 50%;
  color: black;
  text-decoration: none;
}
.social-icons{
  display: flex;
  margin-bottom: 30px;
}
.copyright{
  color:#565555;
  font-size: 13px;
  position:absolute;
  left: 50%;
  bottom:0px;
  transform:translateX(-50%);


}

.social-icons a:hover{
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #2d3436);
  background-image: -moz-linear-gradient(top, #000000, #2d3436);
  background-image: -ms-linear-gradient(top, #000000, #2d3436);
  background-image: -o-linear-gradient(top, #000000, #2d3436);
  background-image: linear-gradient(to bottom, #000000, #2d3436);
   -webkit-box-shadow: 6px 1px 12px #666666;
   -moz-box-shadow: 6px 1px 12px #666666;
   box-shadow: 6px 1px 12px #666666;
  text-decoration: none;
  transition: all ease 0.5s;
  color:white;
}

.social-icons a:hover i{
  color: white;
  transition: all ease 0.5s;
}
li a:hover{
  color: gold;
  letter-spacing: 3px;
  transition: all ease 0.5s;

}



@media(max-width:1000px){
  *{
    box-sizing: border-box;
  }
.text-container p:nth-child(2){
font-size: 40px;
font-family:"Montserrat";
}
  .model{

display: none;
  }

  body{
width: auto;
margin:auto;
  }
  .logo{
    margin-left: 5px;

  }

  .text-container{
    top:46%;
    text-align: left;
  }
  .text-container button{
    margin: 5px;
  }
  .about-container{
    top: 0px;
    flex-direction: column;
    width:100%;
    height: auto;
    padding: 30px 0px;
    align-items: center;

    margin-top: 50px;
  }
  .about-container img{
    height:250px;
    margin-bottom: 20px;
  }
  .about-text{
    width:400px;
    line-height: 2;

  }
  .about-text p:nth-child(1){
    font-size: 20px;
  }
  .about-text p:nth-child(2){
    font-size: 10px;
  }
  .about-text p:nth-child(3),
  .about-text p:nth-child(4){
    font-size:14px;


  }


  .box-container{
    justify-content: center;
    flex-wrap: wrap;
  }


  .contact-me{
    height: 200px;
  }
  .contact-me p{
    font-size: 26px;
  }
  .contact-me button{
    font-size: 14px;
    height:35px;
    width:160px;

  }
}
@media(max-width:750px){
  .about-container{
    height: 870px;
  }
  section{
  background-image:none;
  background-color:#f7f7f7;
 }

 .about-text{
   width:200px;
   line-height: 2;
text-align: justify;
justify-content: center;
 }

 .model{
  display: none;
 }

 .container{
   border-radius: 1px !important;
 }

 form{
   width:auto !important;
 }
 .text-container p:nth-child(2){
  line-height: 40px;
  margin: 0px;
  padding: 0px;

 }
  .text-container p:nth-child(3){
font-size: 25px;

  }
 .text-container{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
 }

 nav ul li{

font-size: 10px;
 }
 nav ul li a{
  font-family: "Montserrat";
  font-size: 12px;
  text-transform: uppercase;
  color:white;
  padding: 13px;
 }
 nav ul li a:hover{
  color:#121212;
 }

 nav.active ul{
  display: flex !important;
 }
 .about-container{
  top: 0px;
  flex-direction: column;
  width:90%;
  height: auto;
  padding: 30px 0px;
  align-items: center;
  margin-top: 50px;
 }
 .about-text{
  width:90%;
  text-align: center;
 }
 .contact-me{
  height: 180px;
 }
 .contact-me p{
  font-size: 18px;
 }
 .contact-me button{
  width: 150px;
  height: 33px;
 }
 footer p:nth-child(1){
   font-size: 20px;
 }
 footer p:nth-child(2){
  width: 90%;
 }
.copyright{
  text-align: center;
  padding-top: 80px;
  top: 100px;
}
.skill-image-left{
  height: 150px;
  width:250px;
margin-bottom: 20px;
}
.skill-image-right{
  height: 150px;
  width:250px;
  margin-bottom: 20px;
}
    .container h1{
      font-size: 20px !important;

    }

}

.btn-project {
  font-style: "Montserrat";
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #2d3436);
  background-image: -moz-linear-gradient(top, #000000, #2d3436);
  background-image: -ms-linear-gradient(top, #000000, #2d3436);
  background-image: -o-linear-gradient(top, #000000, #2d3436);
  background-image: linear-gradient(to bottom, #000000, #2d3436);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 20px;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
font-style: italic;
}

.btn-project:hover {
background:white;
color:black;
  -webkit-box-shadow: 6px 1px 12px #666666;
  -moz-box-shadow: 6px 1px 12px #666666;
  box-shadow: 6px 1px 12px #666666;
  text-decoration: none;
  letter-spacing: 3px;
  transition: ease-in-out 0.5s;
}

.contact-container{
  background-color: white;
  width:75%;
  margin: auto;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  margin-top: 100px;
  height: 1000px;
}
.contact-container p:nth-child(1){
  font-style: "Montserrat";
  font-size: 25px;
  font-weight: bold;
}
.contact-container p:nth-child(2)
{
  font-size: 17px;
  font-weight: bold;
  font-family: arial;
}
.contact-container p:nth-child(3){
  font-style: italic;
  font-family: arial;
}
#email{
    font-family: arial;
    font-size: 17px;
    font-style: normal;
}
.contact-form{
  margin: auto;
  margin-top: 50px;
background-color:  white;
display: flex;
flex-direction: column;
padding: 2vw 4vw;
width:90%;
max-width: 600px;
box-shadow: 10px rgba(0,0,0,0.6);
border-radius: 10px ;
}
.contact-form p{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.contact-form input, .contact-form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
font-family: arial;
}

.contact-footer{
  margin-top: 20px;
    height:250px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
  }


.container{


padding: 50px;
border-radius: 1px;
height: 600px;
width: 25%;
margin: auto;
margin-top: 50px;
border-radius: 50px;
}
    .container h1{
font-family: "Montserrat";
font-size: 30px;
text-align: center;
padding: 30px;
color: white;
    }

    .col{
      margin: 10px;
    }

    form{
width: 50%;
      margin: auto;

    }

    .btn-form1{
      font-style: "Montserrat";
      background: #000000;
      background-image: -webkit-linear-gradient(top, #000000, #2d3436);
      background-image: -moz-linear-gradient(top, #000000, #2d3436);
      background-image: -ms-linear-gradient(top, #000000, #2d3436);
      background-image: -o-linear-gradient(top, #000000, #2d3436);
      background-image: linear-gradient(to bottom, #000000, #2d3436);
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
margin-top: 20px;
      font-family: "Montserrat";
      color: #ffffff;
      font-size: 15px;
      padding: 5px 20px 5px 20px;
      text-decoration: none;
      margin-right: 25px;
      letter-spacing: 1px;
float: right;
border-radius: 15px;
    }
    .btn-form1:hover{
      background:white;
      color:black;
        -webkit-box-shadow: 6px 1px 12px #666666;
        -moz-box-shadow: 6px 1px 12px #666666;
        box-shadow: 6px 1px 12px #666666;
        text-decoration: none;
        letter-spacing: 3px;
        transition: ease-in-out 0.5s;
    }



@media (max-width:400px){
  h2{
    font-size: 2rem !important;
  }
  .about-text{
margin-left: 15px;
  }
body{
  width: 400px;
  overflow-x: hidden;
}
#color-section{
  height: 900px;
}
.skill-image-left{
  margin-right: 0px;
}
.skill-image-right{
  margin-left: 0px;
}
.about-container{
  height: 865px !important;
}
.about-container p{
  margin-right: 0px !important;
}
}

@media (min-width: 2990px){
.contact-me{
  margin-top: 400px;
}

}


.btn-contact {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 20px;
  font-family: Arial;
  color: white;
  font-size: 16px;
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #2d3436);
  background-image: -moz-linear-gradient(top, #000000, #2d3436);
  background-image: -ms-linear-gradient(top, #000000, #2d3436);
  background-image: -o-linear-gradient(top, #000000, #2d3436);
  background-image: linear-gradient(to bottom, #000000, #2d3436);
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  text-decoration: none;
font-family: "Montserrat";
margin-top: 20px;
margin-left: 20px;
}

.btn-contact:hover {
background: white;
   -webkit-box-shadow: 6px 1px 12px #666666;
   -moz-box-shadow: 6px 1px 12px #666666;
   box-shadow: 6px 1px 12px #666666;
  text-decoration: none;
  transition: ease-in-out 0.5s;
  color:black;
  letter-spacing: 2px;
}
label{
  color: white;
  font-family: "Montserrat";
  margin-top: 20px;
}

@media (max-width:1450px){
  body{
overflow-x: hidden;
  }
  .model{
display: none;
  }
  .about-container{
    height: 600px;
  }
  .about-container p{
    margin-right: 20px;
  }
}

@media (min-width:2500px) {
.skill-row{
  padding-top: 90px;
  padding-bottom: 150px;
}

.skill-image-left{
  height: 400px;
  width: 680px;
  margin-right: 50px ;
}
.skill-image-right{
  height: 400px;
  width: 680px;
  margin-left: 50px ;
}
.model{
height: 800px;
}
}


